<div class="container">
  <% if !@name.nil? %>
  <h1> Welcome <%= @name %> </h1>
  <br>
      <div class="row">
      <% @secrets.each do |secret| %>
        <div class="col-xs-12 col-sm-6 col-md-4" id="indiv-secret">
          <div class="secret">
            <h3><%= secret["title"] %></h3>
            <br>
            <p><%= secret["comment"] %></p>
            <p> <em> Posted: <%= distance_of_time_in_words_to_now secret["created_at"] %> </em> </p>
        </div>
      </div>
        <%end%>
      </div>
    <%end%>
</div>
