// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
    padding-left: 5rem;
    background-color: #C5EFF7;

  h1{
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #6C7A89;
    }
    p {
      font-family: 'Playfair Display', serif;
      font-size: 1.25em;
    }
  .btn{
    background-color: #FFB3A7;
    color: #C5EFF7;
    font-family: 'Raleway', sans-serif;
  }
  .btn:hover {
    background-color: #89C4F4;
    text-decoration: none;
  }
}


body{
  background: #6C7A89;
  color: #C5EFF7;
  background-color: #6C7A89;
  padding: 10px;
  p{
    font-family: 'Playfair Display', serif;
    color: #FFB3A7;
    font-size: 1em;
  }
  h3{
    text-align: left;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 1px solid darken(#C5EFF7, 40%);
    color: darken(#C5EFF7, 40%);

  }
  h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #FFB3A7;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
  }
  .secret{
    border: 1px solid darken(#C5EFF7, 50%);
    background-color: #C5EFF7;
    height: 15em;
    margin-bottom: 3em;
    margin-left: 0.5em;
    padding: 1em;
    border-radius: 50px;
  }
}

.form {
  background-color: #C5EFF7;
  color: #6C7A89;
  font-family: 'Raleway', sans-serif;
}
.modal-content{
  background-color: #C5EFF7;
}
