// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
    padding-left: 5rem;
    background-color: #C5EFF7;
    color: #6C7A89;
  h1{
    font-size: 8em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    }
    p {
      font-family: 'Playfair Display', serif;
      font-size: 2em;
    }
  .btn{
    background-color: #FFB3A7;
    color: white;
  }
  .btn:hover {
    background-color: #89C4F4;
  }
}


body{
  background: #6C7A89;
  color: #C5EFF7;
  background-color: #6C7A89;
  padding: 10px;
  p{
    font-size: 1.75em;
    font-family: 'Playfair Display', serif;
    color: #FFB3A7;
  }
  h3{
    text-align: center;
    font-size: 2.25em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 1px solid darken(#C5EFF7, 40%);
    color: darken(#C5EFF7, 40%);

  }
  h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #FFB3A7;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5em;
  }
  .secret{
    border: 1px solid darken(#C5EFF7, 50%);
    background-color: #C5EFF7;
    height: 25em;
    margin-bottom: 3em;
    margin-left: 0.5em;
    padding: 2em;
  }
  .container {
    width: 90%;
  }
}

.form {
  color: #6C7A89;
}
